.addClockContent {
  display: flex;
}

.addClockGraphicWrapper {
  padding: 10px;
}

.addClockFields {
  flex-grow: 1;
  padding: 10px;
}

.addClockField {
  display: flex;

  & + & {
    margin-top: 10px;
  }
}

.addClockFieldLabel {
  flex: 1 1 40%;
}

.addClockFieldInput {
  flex: 1 1 60%;
}
