@import '../colors';

.main {
  width: 400px;
  margin: 15px auto;
}

.mainNav {
  color: white;
  background-color: $black;
}

.mainNavList {
  padding: 10px;
  margin: 0;
  list-style: none;
}

.mainNavListItem {
  display: inline-block;

  & + & {
    margin-left: 10px;
  }
}

.mainNavLink {
  color: white;
  font-weight: 600;
  font-style: normal;
  font-variant: small-caps;
  text-decoration: none;
}
