@import '../colors';

.main {
  display: grid;
  grid: 1fr min-content / auto;
  max-width: 640px;
  height: 360px;
  background-color: white;
  margin: auto;
  font-size: 16px;
}

.generatedText {
  margin: 1em 0.5em 0;
  font-size: 1.6em;
  line-height: 1.6;
}

.generateButtons {
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 1em;
}

%generateButtonsText {
  font-family: minion-pro, serif;
  font-size: 1em;
  font-weight: 700;
  font-style: normal;
  font-variant: all-small-caps;
}

.generateButtonsLabel {
  @extend %generateButtonsText;

  @media screen and (max-width: 413px) {
    display: none;
  }
}

.generateButton {
  @extend %generateButtonsText;
  cursor: pointer;
  color: white;
  text-decoration: none;
  background-color: $black;
  padding: 0.15em 1em 0.25em;
  border: 1px solid white;
  margin-left: 0.5em;

  &:focus {
    outline: 1px dotted $black;
  }
}
