.card {
  border: 1px solid lightgray;
  border-radius: 3px;
  margin: 10px 0;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 1px solid lightgray;
}

.cardHeaderText {
  font-style: italic;
}

.cardHeaderButtons {
  display: flex;
  align-items: center;
}

.cardContent {
  font: inherit;
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  resize: none;
}
