.clockContent {
  display: flex;
}

.clockName {
  font: inherit;
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  order: 2;
  resize: none;
}

.clockGraphicWrapper {
  padding: 10px;
  order: 1;
}
