@import '../colors';

.clockGraphic {
  width: 4em;
}

.clockGraphicSegment {
  cursor: pointer;
  fill: white;
  stroke: $black;
  stroke-width: 3px;
  shape-rendering: geometricPrecision;
}

.clockGraphicSegmentTicked {
  fill: gray;
}
