@import '../colors';

.districtPolygon {
  fill: white;
  stroke: lightgray;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.districtName {
  fill: gray;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 1px;
  stroke: white;
  stroke-width: 5;
  paint-order: stroke;
}

.districtGroup {
  cursor: pointer;

  &:hover {
    .districtPolygon {
      stroke: gray;
    }

    .districtName {
      fill: gray;
    }
  }
}

$barrowcleftColor: $green;
$brightstoneColor: $orange;
$charhollowColor: $olive;
$charterhallColor: $aqua;
$coalridgeColor: $gray;
$crowsFootColor: $lime;
$docksColor: $teal;
$dunsloughColor: $red;
$gaddocRailStationColor: $maroon;
$ironhookPrisonColor: $black;
$nightmarketColor: $fuchsia;
$silkshoreColor: $purple;
$sixTowersColor: $blue;
$whitecrownColor: $navy;

@mixin district($color) {
  &.selected {
    .districtPolygon {
      stroke: $color;
      fill: rgba($color, 0.2);
    }

    .districtName {
      fill: $color;
    }
  }
}

.barrowcleft {
  @include district($barrowcleftColor);
}
.brightstone {
  @include district($brightstoneColor);
}
.charhollow {
  @include district($charhollowColor);
}
.charterhall {
  @include district($charterhallColor);
}
.coalridge {
  @include district($coalridgeColor);
}
.crowsFoot {
  @include district($crowsFootColor);
}
.docks {
  @include district($docksColor);
}
.dunslough {
  @include district($dunsloughColor);
}
.gaddocRailStation {
  @include district($gaddocRailStationColor);
}
.ironhookPrison {
  @include district($ironhookPrisonColor);
}
.nightmarket {
  @include district($nightmarketColor);
}
.silkshore {
  @include district($silkshoreColor);
}
.sixTowers {
  @include district($sixTowersColor);
}
.whitecrown {
  @include district($whitecrownColor);
}
